body {
  margin: 0;
  overflow: hidden;
}

.clicker {
  position: absolute;
  z-index: 100;
  top: 20;
  left: 20;
  margin: 20px;
  /*   color: red;
  border: 1px solid red; */
}

text {
  font-family: sans-serif;
  font-size: 0.625rem;
}
